{% extends "main.html" %}

{% block content %}
<div class='wrapper'>
    <header class='container-fluid' id='menu'>
        <div class='row'>
        <ul class='menu_list'>
            <li class='col' id='header_col'>
                <a href='/' class="header_icon"><img src='/static/icons/main.png'></a>
            </li>
            <li class='col' id='header_col'>
                <a href='#' id='header_href'>
                    Жанры
                </a>
                <ul class="sub_menu_list">
                    <br>
                    <div class='sub_cont'>
                        {% for i in genres %}
                            <li class='sub_menu_link'>
                                <a href='/search/category={{ i.name }}'>{{i.name}}</a>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </li>
            <li class='col col-5' id='header_col'>
                <form action="" method="post" class='search_box'>
                    <input type='text' name='search' class='search_txt'>
                    <i class="bi bi-search"></i>
                </form>
                <div class="error_message">
                    {{message}}
                </div>
            </li>
            <li class='col' id='header_col'>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <a href='/games'><img src="/static/icons/add.png" class='nav_ic'></a>
                {% elif current_user.is_authenticated and current_user.role == 'user' %}
                    <a href='/cart'><img src="/static/icons/cart.png" class='nav_ic'></a>
                {% endif %}
            </li>
            <li class='col' id='header_col'>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <a href='/news_list' id='header_href'>Новости</a>
                {% elif current_user.is_authenticated and current_user.role == 'user' %}
                    <a href='/news' id='header_href'>Предложить новость</a>
                {% endif %}
            </li>
            <li class='col' id='header_col'>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="/logout">Выйти</a>
                {% else %}
                    <a href='#'>Войти</a>
                    <ul class="sub_menu_list">
                        <br>
                        <li>
                            <a href="/register">Регистрация</a>
                        </li>
                        <li>
                            <a href="/login">Вход</a>
                        </li>
                    </ul>
                {% endif %}
            </li>
        </ul>
        </div>
    </header>
    <div class='cont'>
        <p style="color:white;">Спасибо за покупку! Ключи доступа отправлены вам на электронную почту {{current_user.email}} </p>
        <a href="/" class="btn btn-secondary">
            Вернуться на главную
        </a>
    </div>
    <footer class='container' id='footer'>
        <br>
        <div class="row">
            <div class='col col-3' id='footer_div'>
                <img src="/static/icons/main.png">
            </div>
            <div class='col col-3' id='footer_div'>
                <a href='#'>Вакансии</a>
            </div>
            <div class='col col-3' id='footer_div'>
                <a href='#'>Поддержка</a>
            </div>
            <div class='col col-3' id='footer_div'>
                <a href='#'>О компании</a>
            </div>
        </div>
        <div>
            <img src='/static/icons/footericon.png' class="warranty_img">
            <div class='warranty'>
                Все продаваемые ключи закупаются у официальных дистрибьюторов и издателей
            </div>
        </div>
        <div class='copyright'>
            © 2021-{{year}} AllGames
        </div>
    </footer>
</div>
{% endblock %}