{% extends "main_forms.html" %}

{% block content %}
<h1 class='login_h1'>{{title}}</h1>
<div class='container-fluid'>
<div class='row'>
<div class='col'></div>
<form action="" method="post" enctype="multipart/form-data" id='login_cont' class='col col-3'>
    {{ form.hidden_tag() }}
    <p>
        <div class='login_em_la'>
            {{ form.title.label }}
        </div>
        {{ form.title(id='form-standart') }}<br>
        {% for error in form.title.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.description.label }}
        </div>
        {{ form.description(id='form-standart') }}<br>
        {% for error in form.description.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.picture.label }}
        </div>
        {{ form.picture(id='form-standart') }}<br>
        {% for error in form.picture.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.developer.label }}
        </div>
        {{ form.developer(id='form-standart') }}<br>
        {% for error in form.developer.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.publisher.label }}
        </div>
        {{ form.publisher(id='form-standart') }}<br>
        {% for error in form.publisher.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.genres.label }}
        </div>
        {{ form.genres(id='form_genres') }}<br>
        {% for error in form.genres.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.date.label }}
        </div>
        {{ form.date(id='form-standart') }}<br>
        {% for error in form.date.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.price.label }}
        </div>
        {{ form.price(id='form-standart') }}<br>
        {% for error in form.price.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.quantity.label }}
        </div>
        {{ form.quantity(id='form-standart') }}<br>
        {% for error in form.quantity.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p id='error_message'>
        {{message}}
    </p>
</form>
<div class='col'></div>
</div>
</div>
{% endblock %}