{% extends "main.html" %}

{% block content %}
        <div class="container" id='about_con'>
            <div class="row">
                <div class='col col-6' id="about_fi">
                    <img src="/static/img/{{item.picture}}" class='about_img'>
                    <div class="about_sc">
                        <div class="about_sc1">
                            <p>Жанр</p>
                            <p>Разработчик</p>
                            <p>Издатель</p>
                            <p>Дата выхода</p>
                        </div>
                        <div class="about_sc2">
                            {% if item.categories %}
                            <p>{% for i in item.categories %}
                                {{i.name}}
                            {% endfor %}</p>
                            {% else %}
                            <p>-</p>
                            {% endif %}
                            <p>{{item.developer}}</p>
                            <p>{{item.publisher}}</p>
                            <p>{{item.date}}</p>
                        </div>
                    </div>
                </div>
                <div class='col col-6' id='about_th'>
                    <h2 class='about_h2'>Купить {{item.title}}</h2>
                    <ul class='about_qu'>
                        <li>       
                            {% if item.quantity > 0 %} 
                                В наличии
                            {% else %}
                                Нет в наличии
                            {% endif %}
                        </li>
                    </ul>
                    <div class="about_de">
                        {{item.description}}
                    </div>
                    <div class="about_buy">
                        <div class="about_btn">
                            {% if current_user.is_authenticated and current_user.role == 'user' and not check and item.quantity > 0 %}
                                <div>
                                    <a href="/add_to_cart/{{ item.id }}" class="btn btn-warning">
                                        В корзину
                                    </a>
                                </div>
                            {% elif current_user.is_authenticated and current_user.role == 'user' and check %}
                                <div>
                                    <a href="/cart" class="btn btn-warning">
                                        К корзине
                                    </a>
                                </div>
                            {% elif current_user.is_authenticated and current_user.role == 'admin' %}
                            <div>
                                <a href="/games_edit/{{ item.id }}" class="btn btn-warning">
                                    Изменить
                                </a>
                                <a href="/games_delete/{{ item.id }}" class="btn btn-danger">
                                    Удалить
                                </a>
                            </div>
                            {% else %}
                                <div>
                                    <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">
                                    Нельзя купить
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="about_pr">
                            {{item.price}}₽
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}