{% extends "main.html" %}

{% block content %}
<header class='menu'>
    <ul class='menu_list'>
        <li>
            <a href='/'><img src='/static/icons/main.png'></a>
        </li>
        <li>
            <div>
                Каталог игр
            </div>
            <ul class="sub_menu_list">
                {% for i in genres %}
                    <li class='sub_menu_link'>
                        <a href='/search/{{ i.name }}'>{{i.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <form action="" method="post" class='search_box'>
                <input type='text' name='search' class='search_txt'>
                <i class="bi bi-search"></i>
            </form>
            {{message}}
        </li>
        <li>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
            {% else %}
                <a href='#'>Войти</a>
                <ul class="sub_menu_list">
                    <li>
                        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                    </li>
                    <li>
                        <a class="btn btn-success" href="/login">Войти</a>
                    </li>
                </ul>
            {% endif %}
        </li>
        <li>
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <a href='/games'><img src="/static/icons/add.png" class='nav_ic' title="Добавить игру"></a>
            <a href='/news'><img src="/static/icons/add.png" class='nav_ic' title="Добавить новость"></a>
            <a href='/news_list'><img src="/static/icons/add.png" class='nav_ic' title="Просмотреть предложенные новости"></a>
            {% elif current_user.is_authenticated and current_user.role == 'user' %}
                <a href='/cart'><img src="/static/icons/cart.png" class='nav_ic' title="Перейти к корзине"></a>
                <a href='/news'><img src="/static/icons/add.png" class='nav_ic' title="Добавить новость"></a>
            {% endif %}
        </li>
    </ul>
</header>
<h1 align='center'>Игры</h1>
{% if not empty %}
    <div class='container'>
    {% for i in games %}  
        <div class='row'>
        {% for item in i %}
            <div class='col col-xl-3 col-lg-4 col-md-6' id='game_block'>
                <img src="/static/img/{{item.picture}}" class='game_image'>
                <h4 align="center">
                    {{item.title}}
                </h4>
                <div>
                    {{item.price}}руб.
                </div>
                <div>        
                    {% if item.quantity > 0 %} 
                        Осталось {{item.quantity}} ключей
                    {% else %}
                        Нет в наличии
                    {% endif %}
                </div>
                <div align="center">
                    <a href="/games_info/{{ item.id }}" class="btn btn-warning">
                        Подробнее
                    </a>
                </div>
            </div> 
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% else %}
    Пока нет игр
{% endif %}
<div></div>
<h1 align='center' style="margin-top: 60px;">Новости</h1>
{% if not empty2 %}
    <div class='container'>
    {% for i in news %}
        <div class='row' style="margin-top: 30px; margin-bottom: 10px;">

        {% for item in i %}
            <div class='col col-md-6'>
                <img src="/static/img/{{item.picture}}" class='game_image'>
                <h4 align="center">
                    {{item.title}}
                </h4>
                <div>
                    Опубликовано {{item.published_date.strftime('%d.%m.%Y')}}
                </div>
                <div></div>
                <div class="text-truncate d-block">
                    {{item.content[:80]}}
                </div>
                <div align="center">
                    <a href="/news_info/{{ item.id }}" class="btn btn-warning">
                        Читать дальше
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% else %}
    Пока нет новостей
{% endif %}

{% endblock %}