{% extends "main.html" %}

{% block content %}
        <div class="container">
            <div class='row'>
                <div class='col col-xl-3 col-md-6' id='rel_adv'>
                    <div class="advantages">
                        <img src="/static/icons/discounts.png" class='adv_img'>
                        Скидки круглый год
                    </div>
                </div>
                <div class='col col-xl-3 col-md-6' id='rel_adv'>
                    <div class="advantages">
                        <img src="/static/icons/support.png" class='adv_img'>
                        Круглосуточная поддержка
                    </div>
                </div>
                <div class='col col-xl-3 col-md-6' id='rel_adv'>
                    <div class="advantages">
                        <img src="/static/icons/community.png" class='adv_img'>
                        Активное коммьюнити
                    </div>
                </div>
                <div class='col col-xl-3 col-md-6' id='rel_adv'>
                    <div class="advantages">
                        <img src="/static/icons/love.png" class='adv_img'>
                        Любовь к играм
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class='row' id='pay_row'>
                <div class='col col-xl-3 col-md-6' id='pay_div'>
                    <img src="/static/icons/visa.svg" class='pay_img'>
                </div>
                <div class='col col-xl-3 col-md-6' id='pay_div'>
                    <img src="/static/icons/mastercard.svg" class='mas_img'>
                </div>
                <div class='col col-xl-3 col-md-6' id='pay_div'>
                    <img src="/static/icons/mir.svg" class='pay_img'>
                </div>
                <div class='col col-xl-3 col-md-6' id='pay_div'>
                    <img src="/static/icons/qiwi.svg" class='pay_img'>
                </div>     
            </div>
        </div>
        <br>
        <h1>Игры</h1>
        {% if not empty %}
            <div class='container'>
            {% for i in games %}  
                <div class='row' id='row'>
                {% for item in i %}
                    <div class='col col-xl-3 col-md-6'>
                        <div class='game_block'>
                            <a href="/games_info/{{ item.id }}">
                                <img src="/static/img/{{item.picture}}" class='game_image'>
                            </a>
                            <div class='game_title'>
                                {{item.title}}
                            </div>
                            <div class='game_price'>
                                {{item.price}}₽
                            </div>
                        </div>
                    </div> 
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% else %}
            Пока нет игр
        {% endif %}
        <h1 class='news_logo'>Новости</h1>
        {% if not empty2 %}
            <div class='container'>
            {% for i in news %}
                <div class='row'>
                {% for item in i %}
                    <div class='col col-md-6' id='news_block'>
                        <a href="/news_info/{{ item.id }}">
                            <img src="/static/img/{{item.picture}}" class='news_image'>
                        </a>
                        <div>
                            {{item.published_date.strftime('%d.%m.%Y')}}
                        </div>
                        <h4>
                            {{item.title}}
                        </h4>
                        <div class="text-truncate d-block">
                            {{item.content[:77]}}...
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% else %}
            Пока нет новостей
        {% endif %}
{% endblock %}