{% extends "main_forms.html" %}

{% block content %}
    <h1 class='login_h1'>Авторизация</h1>
    <div class='container-fluid'>
    <div class="row">
    <div class='col'></div>
    <form action="" method="post" id='login_cont' class='col col-2'>
            {{ form.hidden_tag() }}
        <div>
            <div class='login_em_la'>
                {{ form.email.label }}
            </div>
            {{ form.email(type="email", id='form-standart') }}
            <br>
            {% for error in form.email.errors %}
                <div id='error_message' role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>
            <div class='login_em_la'>
                {{ form.password.label }}
            </div>
            {{ form.password(type="password", id='form-standart') }}
            <br>
            {% for error in form.password.errors %}
                <div id='error_message' role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>{{ form.submit(type="submit", class="btn btn-primary", id='login_btn') }}</div>
        <div id='error_message'>
            {{ message }}
        </div>
    </form>
    <div class='col'></div>
    </div>
    </div>
{% endblock %}