{% extends "main.html" %}

{% block content %}
        <div class="container">
            <h2 class='news_ab_title'>{{item.title}}</h2>
            <div class='news_ab_img_cont'>
                <img src="/static/img/{{item.picture}}" class='news_ab_img'>
            </div>
            <p class='news_ab_txt'>
                {{item.content}}
            </p>
            <div class='news_ab_aut_block'>
                <p class="news_ab_aut1">
                    Автор:
                </p>
                <p class='news_ab_aut2'>
                    {{item.user.name}}
                </p>
            </div>
            <div>
                <a href="/news_accept/{{ item.id }}" class="btn btn-warning" id='btn_standart'>
                    Принять
                </a>
            </div>
            <div>
                <a href="/news_reject/{{ item.id }}" class="btn btn-danger" id='btn_standart'>
                    Отклонить
                </a>
            </div>
            <div>
                <a href="/news_edit/{{ item.id }}" class="btn btn-warning" id='btn_standart'>
                    Редактировать
                </a>
            </div>
        </div>
{% endblock %}