{% extends "main.html" %}

{% block content %}
        <div class="container">
            <h2 class='news_ab_title'>{{item.title}}</h2>
            <div class='news_ab_img_cont'>
                <img src="/static/img/{{item.picture}}" class='news_ab_img'>
            </div>
            <p class='news_ab_txt'>
                {{item.content}}
            </p>
            <div class='news_ab_aut_block'>
                <p class="news_ab_aut1">
                    Автор:
                </p>
                <p class='news_ab_aut2'>
                    {{item.user.name}}
                </p>
            </div>
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <div>
                    <a href="/news_delete/{{ item.id }}" class="btn btn-danger" id='btn_standart'>
                        Удалить
                    </a>
                </div>
                <div>
                    <a href="/news_edit/{{ item.id }}" class="btn btn-warning" id='btn_standart'>
                        Редактировать
                    </a>
                </div>
            {% endif %}
        </div>
{% endblock %}