{% extends "main.html" %}

{% block content %}
        <h1>Предложенные новости</h1>
        {% if news|length() > 0 %}
            <div class='container'>
                {% for i in news %}
                <div class='row'>
                {% for item in i %}
                    <div class='col col-md-6' id='news_block'>
                        <a href="/news_info_admin/{{ item.id }}">
                            <img src="/static/img/{{item.picture}}" class='news_image'>
                        </a>
                        <div>
                            {{item.published_date.strftime('%d.%m.%Y')}}
                        </div>
                        <h4>
                            {{item.title}}
                        </h4>
                        <div class="text-truncate d-block">
                            {{item.content[:77]}}...
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% else %}
        <p class='login_h1'>
            Пока нет предложенных новостей
        </p>
        {% endif %}
        <div class='btn_news'>
            <a href='/news' class="btn btn-warning">
                Создать новость
            </a>
         </div>
{% endblock %}