{% extends "main_forms.html" %}

{% block content %}
<h1 class='login_h1'>Оформление заказа</h1>
<div class='container-fluid'>
<div class='row'>
<div class='col'></div>
<form action="" method="post" enctype="multipart/form-data"  id='login_cont' class='col col-2'>
    {{ form.hidden_tag() }}
    <p>
        <div class='login_em_la'>
            {{ form.number.label }}
        </div>
        {{ form.number(id='form-standart') }}<br>
        {% for error in form.number.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.name.label }}
        </div>
        {{ form.name(id='form-standart') }}<br>
        {% for error in form.name.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.surname.label }}
        </div>
        {{ form.surname(id='form-standart') }}<br>
        {% for error in form.surname.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        <div class='login_em_la'>
            {{ form.date.label }}
        </div>
        {{ form.date(id='form-standart') }}<br>
        {% for error in form.date.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.code.label }}
        </div>
        {{ form.code(id='form-standart') }}<br>
        {% for error in form.code.errors %}
            <p id='error_message' role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div id='error_message'>
        {{message}}
    </div>
</form>
<div class='col'></div>
</div>
</div>
{% endblock %}