{% extends "main_forms.html" %}

{% block content %}
<h1 class='login_h1'>Регистрация</h1>
<div class='container-fluid'>
<div class='row'>
<div class='col'></div>
<form action="" method="post" class='col col-2' id='login_cont'>
    {{ form.hidden_tag() }}
    <p>
        <div class='login_em_la'>
            {{ form.email.label }}
        </div>
        {{ form.email(id="form-standart", type="email") }}<br>
        {% for error in form.email.errors %}
            <p id="error_message" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.password.label }}
        </div>
        {{ form.password(id="form-standart", type="password") }}<br>
        {% for error in form.password.errors %}
            <p id="error_message" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.password_again.label }}
        </div>
        {{ form.password_again(id="form-standart", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p id="error_message" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class='login_em_la'>
            {{ form.name.label }}
        </div>
        {{ form.name(id="form-standart") }}<br>
        {% for error in form.name.errors %}
            <p id="error_message" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p id="error_message">
        {{message}}
    </p>
</form>
<div class='col'></div>
</div>
</div>
{% endblock %}