{% extends "main.html" %}

{% block content %}
        <h1>Результаты поиска игр по запросу "{{request}}"</h1>
        {% if not empty %}
            <div class='container'>
            {% for i in games %}
                <div class='row' id='row'>
                {% for item in i %}
                    <div class='col col-xl-3 col-md-6'>
                        <div class='game_block'>
                            <a href="/games_info/{{ item.id }}">
                                <img src="/static/img/{{item.picture}}" class='game_image'>
                            </a>
                            <div class='game_title'>
                                {{item.title}}
                            </div>
                            <div class='game_price'>
                                {{item.price}}₽
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% else %}
        <p class='search_nothing'>По вашему запросу ничего не найдено</p>
        {% endif %}
{% endblock %}